apiVersion: v1
data:
  links: |-
    {
      "menuLinks": {{ menuLinks }},
      "externalLinks": {{ externalLinks }},
      "quickLinks": {{ quickLinks }},
      "documentationItems": {{ documentationItems }}
    }

  settings: "{'DASHBOARD_FORCE_IFRAME': true}"
kind: ConfigMap
metadata:
  name: {{ configmap_name }}
  namespace: {{ namespace }}
