{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 1,
  "id": null,
  "iteration": 1643370954936,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "datasource": "${prometheusds}",
      "fieldConfig": {
        "defaults": {
          "mappings": [
            {
              "options": {
                "0": {
                  "index": 2,
                  "text": "Down"
                },
                "1": {
                  "index": 1,
                  "text": "Up"
                }
              },
              "type": "value"
            },
            {
              "options": {
                "match": "null+nan",
                "result": {
                  "index": 0,
                  "text": "0"
                }
              },
              "type": "special"
            }
          ],
          "noValue": "0",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 0
              },
              {
                "color": "green",
                "value": 1
              }
            ]
          },
          "color": {
            "mode": "thresholds"
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 20,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 30,
      "options": {
        "alignValue": "left",
        "legend": {
          "displayMode": "list",
          "placement": "right",
          "showLegend": false
        },
        "mergeValues": false,
        "rowHeight": 0.8,
        "showValue": "auto",
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },

      "pluginVersion": "9.5.3",
      "targets": [
        {
          "datasource": "${prometheusds}",
          "editorMode": "code",
          "expr": "up{juju_model=~\"kubeflow\"}",
          "instant": false,
          "legendFormat": "{{juju_application}}",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "Application workloads state shows if an application workload is responsive. Up doesn't ensure that the application is functioning properly but that it is running and able to provide metrics.",
      "transparent": true,
      "type": "state-timeline"
    }
  ],
  "refresh": "1m",
  "schemaVersion": 33,
  "style": "dark",
  "tags": [
    "ckf",
    "generic"
  ],
  "templating": {
    "list": [
    ]
  },
  "time": {
    "from": "now-3h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Kubeflow Application Workloads State",
  "version": 7,
  "weekStart": ""
}
