{
    "annotations": {
      "list": [
        {
          "builtIn": 1,
          "datasource": {
            "type": "grafana",
            "uid": "-- Grafana --"
          },
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "type": "dashboard"
        }
      ]
    },
    "editable": true,
    "fiscalYearStartMonth": 0,
    "graphTooltip": 0,
    "id": 17,
    "links": [],
    "liveNow": false,
    "panels": [
      {
        "collapsed": false,
        "gridPos": {
          "h": 1,
          "w": 24,
          "x": 0,
          "y": 0
        },
        "id": 21,
        "panels": [],
        "title": "Four Golden Signals",
        "type": "row"
      },
      {
        "datasource": "${prometheusds}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "s"
          },
          "overrides": [
            {
              "matcher": {
                "id": "byName",
                "options": "P99"
              },
              "properties": [
                {
                  "id": "color",
                  "value": {
                    "fixedColor": "red",
                    "mode": "fixed"
                  }
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "P90"
              },
              "properties": [
                {
                  "id": "color",
                  "value": {
                    "fixedColor": "yellow",
                    "mode": "fixed"
                  }
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "P50"
              },
              "properties": [
                {
                  "id": "color",
                  "value": {
                    "fixedColor": "green",
                    "mode": "fixed"
                  }
                }
              ]
            }
          ]
        },
        "gridPos": {
          "h": 8,
          "w": 12,
          "x": 0,
          "y": 1
        },
        "id": 1,
        "options": {
          "legend": {
            "calcs": [
              "lastNotNull"
            ],
            "displayMode": "table",
            "placement": "right",
            "showLegend": true
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "histogram_quantile(0.99, sum by(le) (rate(rest_http_request_duration_seconds_bucket{method=~\"$method\",status=~\"$status\"}[2m])))",
            "legendFormat": "P99",
            "range": true,
            "refId": "A"
          },
          {
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "histogram_quantile(0.9, sum by(le) (rate(rest_http_request_duration_seconds_bucket{method=~\"$method\",status=~\"$status\"}[2m])))",
            "hide": false,
            "legendFormat": "P90",
            "range": true,
            "refId": "B"
          },
          {
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "histogram_quantile(0.5, sum by(le) (rate(rest_http_request_duration_seconds_bucket{method=~\"$method\",status=~\"$status\"}[2m])))",
            "hide": false,
            "legendFormat": "P50",
            "range": true,
            "refId": "C"
          }
        ],
        "title": "Latency",
        "type": "timeseries"
      },
      {
        "datasource": "${prometheusds}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "fixedColor": "orange",
              "mode": "fixed"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "reqps"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 12,
          "x": 12,
          "y": 1
        },
        "id": 2,
        "options": {
          "legend": {
            "calcs": [
              "lastNotNull"
            ],
            "displayMode": "table",
            "placement": "right",
            "showLegend": true
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "round(sum(irate(rest_http_request_total{}[2m])), 0.001)",
            "legendFormat": "Traffic",
            "range": true,
            "refId": "A"
          }
        ],
        "title": "Traffic",
        "type": "timeseries"
      },
      {
        "datasource": "${prometheusds}",
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "fixedColor": "green",
              "mode": "fixed"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "dashed"
              }
            },
            "decimals": 1,
            "mappings": [],
            "max": 1,
            "min": 0,
            "thresholds": {
              "mode": "percentage",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "dark-green",
                  "value": 80
                }
              ]
            },
            "unit": "percentunit"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 12,
          "x": 0,
          "y": 9
        },
        "id": 3,
        "options": {
          "legend": {
            "calcs": [
              "lastNotNull"
            ],
            "displayMode": "table",
            "placement": "right",
            "showLegend": true
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "sum(rate(rest_http_request_total{status!~\"[4-5].*\"}[4m])) / sum(rate(rest_http_request_total{}[4m]))",
            "legendFormat": "Ingress traffic",
            "range": true,
            "refId": "A"
          }
        ],
        "title": "Availability (non-4|5xx responses)",
        "type": "timeseries"
      },
      {
        "datasource": "${prometheusds}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "percentunit"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 6,
          "x": 12,
          "y": 9
        },
        "id": 4,
        "options": {
          "legend": {
            "calcs": [
              "lastNotNull"
            ],
            "displayMode": "table",
            "placement": "bottom",
            "showLegend": true
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "expr": "irate(process_cpu_user_seconds_total{app=\"kubeflow-centraldashboard\"}[2m]) * 100",
            "interval": "",
            "legendFormat": "User CPU",
            "refId": "A"
          },
          {
            "expr": "irate(process_cpu_system_seconds_total{app=\"kubeflow-centraldashboard\"}[2m]) * 100",
            "interval": "",
            "legendFormat": "System CPU",
            "refId": "B"
          },
          {
            "expr": "irate(process_cpu_seconds_total{app=\"kubeflow-centraldashboard\"}[2m]) * 100",
            "interval": "",
            "legendFormat": "Total CPU",
            "refId": "C"
          }
        ],
        "title": "CPU usage",
        "type": "timeseries"
      },
      {
        "datasource": "${prometheusds}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "decbytes"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 8,
          "w": 6,
          "x": 18,
          "y": 9
        },
        "id": 6,
        "options": {
          "legend": {
            "calcs": [
              "lastNotNull"
            ],
            "displayMode": "table",
            "placement": "bottom",
            "showLegend": true
          },
          "tooltip": {
            "mode": "single",
            "sort": "none"
          }
        },
        "targets": [
          {
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "process_resident_memory_bytes{app=\"kubeflow-centraldashboard\",}",
            "legendFormat": "Process Memory",
            "range": true,
            "refId": "A"
          },
          {
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "nodejs_heap_size_total_bytes{app=\"kubeflow-centraldashboard\",}",
            "hide": false,
            "legendFormat": "Heap Total",
            "range": true,
            "refId": "B"
          },
          {
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "nodejs_heap_size_used_bytes{app=\"kubeflow-centraldashboard\",}",
            "hide": false,
            "legendFormat": "Heap Usad",
            "range": true,
            "refId": "C"
          },
          {
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "nodejs_external_memory_bytes{app=\"kubeflow-centraldashboard\",}",
            "hide": false,
            "legendFormat": "External Memory",
            "range": true,
            "refId": "D"
          }
        ],
        "title": "Memory",
        "type": "timeseries"
      },
      {
        "collapsed": false,
        "gridPos": {
          "h": 1,
          "w": 24,
          "x": 0,
          "y": 17
        },
        "id": 20,
        "panels": [],
        "title": "Request details",
        "type": "row"
      },
      {
        "datasource": "${prometheusds}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "short"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 7,
          "w": 12,
          "x": 0,
          "y": 18
        },
        "id": 17,
        "links": [],
        "options": {
          "legend": {
            "calcs": [
              "mean",
              "lastNotNull"
            ],
            "displayMode": "table",
            "placement": "right",
            "showLegend": true
          },
          "tooltip": {
            "mode": "multi",
            "sort": "none"
          }
        },
        "pluginVersion": "9.5.3",
        "targets": [
          {
            "$$hashKey": "object:214",
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "rate(rest_http_request_total{app=\"kubeflow-centraldashboard\",}[2m])",
            "format": "time_series",
            "interval": "",
            "intervalFactor": 1,
            "legendFormat": "Path: \"{{path}}\", Method: {{method}}, Status: {{status}}",
            "range": true,
            "refId": "A"
          }
        ],
        "title": "Requests per second",
        "type": "timeseries"
      },
      {
        "datasource": "${prometheusds}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "s"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 7,
          "w": 12,
          "x": 12,
          "y": 18
        },
        "id": 19,
        "links": [],
        "options": {
          "legend": {
            "calcs": [
              "lastNotNull"
            ],
            "displayMode": "table",
            "placement": "right",
            "showLegend": true
          },
          "tooltip": {
            "mode": "multi",
            "sort": "none"
          }
        },
        "pluginVersion": "9.5.3",
        "targets": [
          {
            "$$hashKey": "object:146",
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "rate(rest_http_request_duration_seconds_sum{app=\"kubeflow-centraldashboard\",method=~\"$method\",status=~\"$status\"}[2m]) / rate(rest_http_request_duration_seconds_count{app=\"kubeflow-centraldashboard\",method=~\"$method\",status=~\"$status\"}[2m])",
            "format": "time_series",
            "interval": "",
            "intervalFactor": 1,
            "legendFormat": "Path: \"{{path}}\", Method: {{method}}, Status: {{status}}",
            "range": true,
            "refId": "A"
          }
        ],
        "title": "Average response time [2m]",
        "type": "timeseries"
      },
      {
        "datasource": "${prometheusds}",
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "none"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 7,
          "w": 12,
          "x": 0,
          "y": 25
        },
        "id": 15,
        "links": [],
        "options": {
          "legend": {
            "calcs": [
              "mean",
              "lastNotNull",
              "max",
              "min"
            ],
            "displayMode": "table",
            "placement": "right",
            "showLegend": true
          },
          "tooltip": {
            "mode": "multi",
            "sort": "none"
          }
        },
        "pluginVersion": "9.5.3",
        "targets": [
          {
            "$$hashKey": "object:426",
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "histogram_quantile(0.5, rate(rest_http_request_duration_seconds_bucket{app=\"kubeflow-centraldashboard\",}[2m]))",
            "format": "time_series",
            "interval": "",
            "intervalFactor": 1,
            "legendFormat": "Path: \"{{path}}\", Method: {{method}}, Status: {{status}}",
            "range": true,
            "refId": "A"
          }
        ],
        "title": "Request duration [s] - p50",
        "type": "timeseries"
      },
      {
        "datasource": "${prometheusds}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "short"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 7,
          "w": 12,
          "x": 12,
          "y": 25
        },
        "id": 16,
        "links": [],
        "options": {
          "legend": {
            "calcs": [
              "mean",
              "lastNotNull",
              "max",
              "min"
            ],
            "displayMode": "table",
            "placement": "right",
            "showLegend": true
          },
          "tooltip": {
            "mode": "multi",
            "sort": "none"
          }
        },
        "pluginVersion": "9.5.3",
        "targets": [
          {
            "$$hashKey": "object:426",
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "histogram_quantile(0.9, rate(rest_http_request_duration_seconds_bucket{app=\"kubeflow-centraldashboard\",}[2m]))",
            "format": "time_series",
            "interval": "",
            "intervalFactor": 1,
            "legendFormat": "Path: \"{{path}}\", Method: {{method}}, Status: {{status}}",
            "range": true,
            "refId": "A"
          }
        ],
        "title": "Request duration [s] - p90",
        "type": "timeseries"
      },
      {
        "datasource": "${prometheusds}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "max": 1,
            "min": 0,
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "percentunit"
          },
          "overrides": []
        },
        "gridPos": {
          "h": 7,
          "w": 12,
          "x": 0,
          "y": 32
        },
        "id": 11,
        "links": [],
        "options": {
          "legend": {
            "calcs": [
              "lastNotNull"
            ],
            "displayMode": "table",
            "placement": "right",
            "showLegend": true
          },
          "tooltip": {
            "mode": "multi",
            "sort": "none"
          }
        },
        "pluginVersion": "9.5.3",
        "targets": [
          {
            "$$hashKey": "object:1079",
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "increase(rest_http_request_duration_seconds_bucket{app=\"kubeflow-centraldashboard\",le=\"0.5\"}[2m]) / ignoring(le) increase(rest_http_request_duration_seconds_count{app=\"kubeflow-centraldashboard\",}[2m])",
            "format": "time_series",
            "instant": false,
            "interval": "",
            "intervalFactor": 1,
            "legendFormat": "Path: \"{{path}}\", Method: {{method}}, Status: {{status}}",
            "refId": "A"
          }
        ],
        "title": "Requests under 500ms",
        "type": "timeseries"
      },
      {
        "datasource": "${prometheusds}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineStyle": {
                "fill": "solid"
              },
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "normal"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "min": 0,
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "short"
          },
          "overrides": [
            {
              "matcher": {
                "id": "byName",
                "options": "HTTP 500"
              },
              "properties": [
                {
                  "id": "color",
                  "value": {
                    "fixedColor": "#bf1b00",
                    "mode": "fixed"
                  }
                }
              ]
            }
          ]
        },
        "gridPos": {
          "h": 7,
          "w": 6,
          "x": 12,
          "y": 32
        },
        "id": 13,
        "links": [],
        "options": {
          "legend": {
            "calcs": [
              "mean",
              "max"
            ],
            "displayMode": "table",
            "placement": "bottom",
            "showLegend": true
          },
          "tooltip": {
            "mode": "multi",
            "sort": "none"
          }
        },
        "pluginVersion": "9.5.3",
        "targets": [
          {
            "$$hashKey": "object:140",
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "increase(rest_http_request_total{app=\"kubeflow-centraldashboard\",}[2m]) / 2",
            "format": "time_series",
            "interval": "",
            "intervalFactor": 1,
            "legendFormat": "Path: \"{{path}}\", Method: {{method}}, Status: {{status}}",
            "range": true,
            "refId": "A"
          }
        ],
        "title": "Total requests per minute",
        "type": "timeseries"
      },
      {
        "datasource": "${prometheusds}",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "palette-classic"
            },
            "custom": {
              "axisCenteredZero": false,
              "axisColorMode": "text",
              "axisLabel": "",
              "axisPlacement": "auto",
              "barAlignment": 0,
              "drawStyle": "line",
              "fillOpacity": 50,
              "gradientMode": "opacity",
              "hideFrom": {
                "legend": false,
                "tooltip": false,
                "viz": false
              },
              "lineInterpolation": "linear",
              "lineWidth": 1,
              "pointSize": 5,
              "scaleDistribution": {
                "type": "linear"
              },
              "showPoints": "never",
              "spanNulls": false,
              "stacking": {
                "group": "A",
                "mode": "none"
              },
              "thresholdsStyle": {
                "mode": "off"
              }
            },
            "mappings": [],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            },
            "unit": "short"
          },
          "overrides": [
            {
              "matcher": {
                "id": "byName",
                "options": "errors"
              },
              "properties": [
                {
                  "id": "color",
                  "value": {
                    "fixedColor": "#c15c17",
                    "mode": "fixed"
                  }
                }
              ]
            }
          ]
        },
        "gridPos": {
          "h": 7,
          "w": 6,
          "x": 18,
          "y": 32
        },
        "id": 18,
        "links": [],
        "options": {
          "legend": {
            "calcs": [
              "mean",
              "lastNotNull",
              "max"
            ],
            "displayMode": "list",
            "placement": "bottom",
            "showLegend": true
          },
          "tooltip": {
            "mode": "multi",
            "sort": "none"
          }
        },
        "pluginVersion": "9.5.3",
        "targets": [
          {
            "$$hashKey": "object:766",
            "datasource": "${prometheusds}",
            "editorMode": "code",
            "expr": "sum(rate(rest_http_request_duration_seconds_count{app=\"kubeflow-centraldashboard\",status!=\"200\"}[2m]))",
            "format": "time_series",
            "interval": "",
            "intervalFactor": 1,
            "legendFormat": "errors",
            "range": true,
            "refId": "A"
          }
        ],
        "title": "Errors per second",
        "type": "timeseries"
      }
    ],
    "refresh": "",
    "schemaVersion": 38,
    "style": "dark",
    "tags": [
      "ckf"
    ],
    "templating": {
      "list": [
        {
          "current": {
            "selected": true,
            "text": "success",
            "value": "[2-3].*"
          },
          "hide": 0,
          "includeAll": false,
          "multi": false,
          "name": "status",
          "options": [
            {
              "selected": true,
              "text": "success",
              "value": "[2-3].*"
            },
            {
              "selected": false,
              "text": "error",
              "value": "[4-5].*"
            }
          ],
          "query": "success : [2-3].*,error : [4-5].*",
          "queryValue": "",
          "skipUrlSync": false,
          "type": "custom"
        },
        {
          "current": {
            "selected": true,
            "text": "All",
            "value": "$__all"
          },
          "hide": 0,
          "includeAll": true,
          "multi": false,
          "name": "method",
          "options": [
            {
              "selected": true,
              "text": "All",
              "value": "$__all"
            },
            {
              "selected": false,
              "text": "GET",
              "value": "GET"
            },
            {
              "selected": false,
              "text": "POST",
              "value": "POST"
            },
            {
              "selected": false,
              "text": "PUT",
              "value": "PUT"
            },
            {
              "selected": false,
              "text": "DELETE",
              "value": "DELETE"
            }
          ],
          "query": "GET,POST,PUT,DELETE",
          "queryValue": "",
          "skipUrlSync": false,
          "type": "custom"
        }
      ]
    },
    "time": {
      "from": "now-1h",
      "to": "now"
    },
    "timepicker": {},
    "timezone": "",
    "title": "Kubeflow Dashboard - Latency, traffic, errors & saturation",
    "version": 1,
    "weekStart": ""
  }
