name: CI

on:
  - push
  - pull_request

jobs:
  lint:
    name: Lint Check
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: sudo apt install tox

    - name: Lint code
      run: tox -e lint

  unit:
    name: Unit Test
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: sudo apt install tox

    - name: Run unit tests
      run: tox -e unit

  deploy:
    name: Integration Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
            provider: microk8s
            channel: 1.21/stable
      - name: Run test
        run: |
          # Requires the model to be called kubeflow due to this bug:
          # https://github.com/kubeflow/kubeflow/issues/6136
          juju add-model kubeflow
          sudo apt install -y firefox-geckodriver
          sg microk8s -c "tox -e integration -- --model kubeflow"

      # TODO: Remove once the actions-operator does this automatically
      - name: Configure kubectl
        run: |
          sg microk8s -c "microk8s config > ~/.kube/config"

      - name: Get all
        run: kubectl get all -A
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Get kubeflow-profiles workload logs
        run: kubectl logs --tail 100 -nkubeflow -ljuju-app=kubeflow-dashboard
        if: failure()

      - name: Get kubeflow-kfam workload logs
        run: kubectl logs --tail 100 -nkubeflow -ljuju-app=kubeflow-dashboard
        if: failure()

      - name: Get operator logs
        run: kubectl logs --tail 100 -nkubeflow -loperator.juju.is/name
        if: failure()

      - name: Upload selenium screenshots
        uses: actions/upload-artifact@v2
        with:
          name: selenium-screenshots
          path: /tmp/selenium-*.png
        if: failure()
